<html>

<head>
    <title>
        Abouts Us
    </title>
</head>

<body style="text-align: center; background: linear-gradient(325deg,rgb(118, 201, 240),rgb(185, 218, 226)); text-emphasis-color: black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
    <h1> 🎬Get the latest movie reviews,ratings,cast and much more from our movie review chatbot <br>specifically designed to help movie lovers.<br> Our aim is to provide an easy and simple interface to help viewers find the details of the movies<br> as well
        as add new movies to our system.<br>
    </h1>
</body>
<footer style="position: relative; text-align: center; bottom: -420px;">
    <h2>® Created By Siddharth Satija and Akarshit Joshi</h2>
</footer>

</html>